name: "Terraform Format Check"
on:
  workflow_call:

jobs:
  terraform:
    name: "Terraform Format Check"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: test
        run: pwd

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.7

      - name: Terraform Format
        id: fmt
        run: terraform fmt -check
